<footer>

	<div class="content-padding">
		<div class="footer-content">

			<p>Copyright &copy; 2017 AvB</p>

			<div class="social-media-icons">
				<a href="https://github.com/aswinzz"><i class="fa fa-github"></i></a>
				<a href="https://www.facebook.com/aswinvb"><i class="fa fa-facebook"></i></a>
			</div>

		</div>
	</div>
</footer>